name: ML Recommendation Pipeline

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"   # Every 6 hours
  push:
    branches:
      - main

jobs:
  run-ml-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run ML Pipeline
        env:
          EVENTS_DB_URL: ${{ secrets.EVENTS_DB_URL }}
          PRODUCT_DB_URL: ${{ secrets.PRODUCT_DB_URL }}
          RECO_DB_URL: ${{ secrets.RECO_DB_URL }}
          MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
        run: |
          python pipeline/run_pipeline.py
